<div class="search">
  <div class="search-container">
    <mat-form-field class="search-box">
      <input matInput placeholder="Search" type="search" [formControl]="query">
    </mat-form-field>
  </div>
  
  <div *ngFor="let user of results.items" class="profile" routerLink="/profile/{{user.id}}">
    <img [src]="user.profilePictureUrl" alt="Profile Picture">
    <span>{{ user.firstName }} {{ user.lastName }}</span>
  </div>

  <div *ngIf="showLoadMore" (click)="loadMore()">Load more</div>
</div>
