<div *ngIf="options" class="list-container">
  <div
    class="item"
    *ngFor="let item of items"
    (click)="options.onClick?.(item)"
    [ngClass]="{ clickable: !!options.onClick }"
  >
    <img
      (click)="options.image.onClick?.(item)"
      [ngClass]="{ clickable: !!options.image.onClick }"
      [src]="options.image.src(item)"
      [alt]="options.image.alt(item)"
      class="image"
    />
    <div class="content">
      <a
        (click)="options.title.onClick?.(item)"
        [ngClass]="{ clickable: !!options.title.onClick }"
        class="title"
        >{{ options.title.displayWith(item) }}</a
      >
      <span
        (click)="options.date.onClick?.(item)"
        [ngClass]="{ clickable: !!options.date.onClick }"
        class="date"
        >{{ options.date.displayWith(item) | date: options.date.format?.(item) }}</span
      >
      <p
        (click)="options.content.onClick?.(item)"
        [ngClass]="{ clickable: !!options.content.onClick }"
      >
        {{ options.content.displayWith(item) }}
      </p>
    </div>
  </div>
</div>
