<div class="list-container">
  <mat-card class="item" *ngFor="let p of posts">
    <!-- Profile Image and Header -->
    <div class="header-section">
      <img
        routerLink="/profile/{{ p.author.id }}"
        [src]="p.author.profilePictureUrl ?? 'assets/img/default-profile.jpg'"
        alt="{{ p.author.firstName }} {{ p.author.lastName }}'s profile picture"
        class="clickable image"
      />
      <div class="header">
        <a routerLink="/profile/{{ p.author.id }}" class="clickable title">
          {{ p.author.firstName }} {{ p.author.lastName }}
        </a>
        <button *ngIf="userIsTheAuthor(p)" mat-icon-button [matMenuTriggerFor]="menu" aria-label="More options">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deletePost(p)">
            <mat-icon color="warn">delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <!-- Post Content and Date -->
    <div class="content">
      <p class="post-content">{{ p.content }}</p>
      <span class="date">{{ p.createdAtUtc | date: 'short' }}</span>
    </div>
  </mat-card>
</div>
