.list-container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;

    .header-section {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .header {
        display: flex;
        align-items: center;
        width: 100%;

        .title {
          font-weight: bold;
          color: #333;
          text-decoration: none;
          margin-right: auto;
        }

        .more-options {
          margin-left: auto;
        }
      }
    }

    .content {
      .post-content {
        margin-top: 5px;
        margin-bottom: 10px;
        color: #333;
      }

      .date {
        font-size: 0.9em;
        color: #888;
        display: block;
      }
    }
  }

  .clickable {
    cursor: pointer;
  }
}
