<div *ngIf="options">
  <div class="post" *ngFor="let item of items">
    <img (click)="options.image.onClick?.(item)" [src]="options.image.src(item)" [alt]="options.image.alt(item)" class="profile-picture" />
    <div class="post-content">
      <a (click)="options.title.onClick?.(item)" class="username">{{ options.title.displayWith(item) }}</a>
      <span (click)="options.date.onClick?.(item)" class="created-at">{{ options.date.displayWith(item) | date }}</span>
      <p (click)="options.content.onClick?.(item)">{{ options.content.displayWith(item) }}</p>
    </div>
  </div>
</div>
