<div class="chat-container">
  <div *ngIf="receiver" class="chat-header">
    <button mat-icon-button routerLink="..">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="chatter" routerLink="/profile/{{receiver.id}}">
      <img [src]="receiver.profilePictureUrl || 'assets/img/default-profile.jpg'" alt="{{receiver.firstName}}'s profile picture"/>
      <span>{{ receiver.firstName }} {{ receiver.lastName }}</span>
    </div>
  </div>
  
  <div #messagesDiv class="messages">
    <div class="messages-group" *ngFor="let group of groupedMessages; index as i" [ngClass]="{ spaced: i === 0 }">
      <div class="message-date">{{ group.date | chatDate }}</div>
      <div *ngFor="let message of group.messages" class="message" [ngClass]="{ 'own-message': !message.received }">
        <div class="message-content">
          <span>{{ message.content }}</span>
          <span class="message-time">{{ message.createdAtUtc | date: 'HH:mm' }}</span>
        </div>
      </div>
    </div>
  </div>

  <div style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); z-index: 100; position: fixed; top: 68px; padding: 10px; background-color: white;">ATENÇÃO! As mensagens - ainda - <strong>NÃO</strong> estão sendo armazenadas com criptografia</div>

  <div class="message-input-container">
    <input [formControl]="messageForm" (keyup.enter)="sendMessage()" placeholder="Type a message" class="message-input"/>
    <button mat-icon-button (click)="sendMessage()" class="send-button" [disabled]="!messageForm.value">
      <mat-icon>send</mat-icon>
    </button>
  </div>

  <button *ngIf="isFarFromBottom" mat-fab color="outline" aria-label="Scroll down" class="scroll-down-button" (click)="scrollToBottom('smooth')">
    <mat-icon>arrow_downward</mat-icon>
  </button>
</div>
