.content {
  padding-bottom: 60px; // menu height
}

@media (min-width: 768px) {
  .content{
    padding-bottom: 0;
    margin-left: 175px; // menu width in desktop, changes based in the size of the bigger menu label
  }
}
