<div class="feed">
  <h2>Linkup</h2>
  <div class="post" *ngFor="let post of posts$ | async">
    <img
      [routerLink]="['/profile', post.userId]"
      src="{{ post.profilePicture }}"
      alt="{{ post.username }} profile picture"
      class="profile-picture"
    />
    <div class="post-content">
      <a [routerLink]="['/profile', post.userId]" class="username">{{
        post.username
      }}</a>
      <span class="created-at">{{ post.createdAt | date }}</span>
      <p>{{ post.content }}</p>
    </div>
  </div>

  <button mat-fab color="outline" aria-label="Create new post" class="add-post-button" (click)="openPostCreation()">
    <mat-icon>add</mat-icon>
  </button>
</div>
