<div class="menu">
  <nav>
    <a matRipple aria-label="Home" routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <label>Home</label>
    </a>
    <a matRipple aria-label="Explore" routerLink="/explore" routerLinkActive="active">
      <mat-icon>search</mat-icon>
      <label>Explore</label>
    </a>
    <a matRipple aria-label="Notifications" routerLink="/chats" routerLinkActive="active">
      <mat-icon>chat</mat-icon>
      <label>Messages</label>
    </a>
    <a matRipple aria-label="Groups" routerLink="/groups" routerLinkActive="active">
      <mat-icon>groups</mat-icon>
      <label>Groups</label>
    </a>
    <a matRipple aria-label="Profile" routerLink="/profile/{{loggedUserId}}" routerLinkActive="active">
      <mat-icon>person</mat-icon>
      <label>Profile</label>
    </a>
  </nav>
</div>
