<div class="menu">
  <nav>
    <a matRipple aria-label="Home" routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
    </a>
    <a matRipple aria-label="Explore" routerLink="/explore" routerLinkActive="active">
      <mat-icon>search</mat-icon>
    </a>
    <a matRipple aria-label="Notifications" routerLink="/notifications" routerLinkActive="active">
      <mat-icon>favorite</mat-icon>
    </a>
    <a matRipple aria-label="Groups" routerLink="/groups" routerLinkActive="active">
      <mat-icon>groups</mat-icon>
    </a>
    <a matRipple aria-label="Profile" routerLink="/profile/1" routerLinkActive="active">
      <mat-icon>person</mat-icon>
    </a>
  </nav>
</div>
